@import "../../../assets/variables/variables";

.sort {
  &__title {
    font-size: 1.5rem;
  }

  & select {
    font-size: 1rem;
    margin-bottom: 30px;
    background: $text-color;
    overflow: hidden;
    border-radius: 10px;
    outline: none;
    padding: 10px;
  }
}