@import "../../../assets/variables/variables";

.comment {
  &__item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 30px;
    border-left: 1px $text-color solid;
    padding-left: 10px;

    & img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 2px solid $primary-color;
      object-fit: cover;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 25px;

    & button {
      border: none;
      background: none;
      color: $primary-color;
      font-weight: 600;
      cursor: pointer;
      font-size: 16px;

      & i {
        font-size: 18px;
      }
    }
  }

  &__replay {
    & i {
      color: $secondary-color;
    }
  }

  &__like {
    &.liked {
      & i {
        color: $secondary-color;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .comment {

    &__item {
      & img {
        width: 40px;
        height: 40px;
      }
    }

    &__content {
      & p {
        font-size: 0.8rem;
        line-height: 1.4rem;
      }
    }
  }
}