.review {
  background: linear-gradient(rgba(0, 13, 107, 0.5), rgba(0, 13, 107, 0.5)), url(../../../img/img-map.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0;
}